<section class="hero-wrap hero-wrap-2 heroBreadcrumb" style="background-image: url('assets/images/breadcums/therapy.jpg'); background-position: 50% -66px;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-end justify-content-start">
        <div class="col-md-9 ftco-animate pb-5 fadeInUp ftco-animated">
         <h1 class="mb-3 bread" style="color: #ffffff;">Therapy Areas</h1>
       </div>
     </div>
   </div>
  </section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate fadeInUp ftco-animated">
                <!-- <h2 class="mb-4">Sinsan <span>Department</span></h2> -->
            </div>
        </div>
        <div class="row tabulation mt-4 ftco-animate fadeInUp ftco-animated">
            <div class="col-md-3">
                <ul class="nav nav-pills nav-fill d-block w-100">
                    <li class="nav-item text-left">
                        <a class="nav-link active d-flex align-items-centere py-4" data-toggle="tab" href="#services-1">
                            <span>
                                <!-- <i style="font-size: 30px;" class="fa fa-heartbeat mr-3 mt-2" aria-hidden="true"></i> -->
                                <img src="../../../assets/images/therapy/dia.jpeg" width="40px" height="auto" alt="">Diabetology</span></a>
                    </li>
                    <li class="nav-item text-left">
                        <a class="nav-link py-4 d-flex align-items-center" data-toggle="tab" href="#services-6"> <span>
                            <!-- <i style="font-size: 30px;" class="fa fa-heartbeat mr-3 mt-2" aria-hidden="true"></i> -->
                            <img src="../../../assets/images/therapy/car.jpeg" width="40px" height="auto" alt="">
                            Cardiology</span></a>
                    </li>
                    <li class="nav-item text-left">
                        <!-- <i style="font-size: 30px;" class="fa fa-heartbeat mr-3 mt-2" aria-hidden="true"></i> -->
                        <a class="nav-link py-4 d-flex align-items-center" data-toggle="tab" href="#services-3"> <span> <img src="../../../assets/images/therapy/nutra.jpeg" width="40px" height="auto" alt=""> Nutraceuticals</span></a>
                    </li>
                    <li class="nav-item text-left">
                        <!-- <i style="font-size: 30px;" class="fa fa-heartbeat mr-3 mt-2" aria-hidden="true"></i> -->
                        <a class="nav-link py-4 d-flex align-items-center" data-toggle="tab" href="#services-4"> <span> <img src="../../../assets/images/therapy/Obesity.jpg" width="40px" height="auto" alt=""> Obesity</span></a>
                    </li>
                    <li class="nav-item text-left">
                        <a class="nav-link py-4 d-flex align-items-center" data-toggle="tab" href="#services-5"> <span>
                            <!-- <i style="font-size: 30px;" class="fa fa-heartbeat mr-3 mt-2" aria-hidden="true"></i> -->
                            <img src="../../../assets/images/therapy/others.jpeg" width="50px" height="auto" alt="">Others</span></a>
                    </li>
                    <!-- <li class="nav-item text-left">
                        <a class="nav-link py-4 d-flex align-items-center" data-toggle="tab" href="#services-5"> <span><i style="font-size: 30px;" class="fa fa-heartbeat mr-3 mt-2" aria-hidden="true"></i>Surgical</span></a>
                    </li>
                    <li class="nav-item text-left">
                        <a class="nav-link d-flex align-items-centerm py-4" data-toggle="tab" href="#services-6"> <span><i style="font-size: 30px;" class="fa fa-heartbeat mr-3 mt-2" aria-hidden="true"></i></span></a>
                    </li>
                    <li class="nav-item text-left">
                        <a class="nav-link d-flex align-items-centerm py-4" data-toggle="tab" href="#services-7"> <span><i style="font-size: 30px;" class="fa fa-heartbeat mr-3 mt-2" aria-hidden="true"></i>Dental Clinic</span></a>
                    </li> -->
                </ul>
            </div>

            <div class="col-md-9">
                <div class="tab-content pt-4 pt-md-0 pl-md-3">
                    <div class="tab-pane container p-0 active" id="services-1">
                        <div class="row">
                            <div class="col-md-5 img" style="background-image: url(assets/images/therapy/diamain.jpeg);"></div>
                            <div class="col-md-7 text pl-md-4">
                                <h3><a>Diabetology</a></h3>
                                <p>Diabetes is a group of metabolic disorder characterized by hyperglycemia (high blood glucose level) resulting from defects in Insulin secretion, Insulin action or both. Diabetes is of 3 types.</p>
                                <ul>
                                    <li><span class="fa fa-check"></span>1. Type 1 Diabetes Mellitus(T1DM): Type 1 diabetes is the major cause of diabetes in childhood but can occur at any age.  At present, it cannot be prevented.</li>
                                    <li><span class="fa fa-check"></span>2. Type 2 Diabetes Mellitus (T2DM): Type 2 diabetes accounts for the vast majority (around 90%) of diabetes worldwide.  It can be effectively managed through education, support and adoption of healthy lifestyles,
                                         combined with medication as required.</li>
                                    <li><span class="fa fa-check"></span>3. Gestational Diabetes: A condition in which your blood sugar levels become high during pregnancy. Increasing the risk of pregnancy and birth complications both for the mother and baby.</li>
                                    <!-- <li><span class="fa fa-check"></span>She packed her seven versalia</li> -->
                                </ul>
                                <!-- <p>
                                    Currently worldwide 463 million people living with Diabetes which is estimated to >700 million in 2045 with 51% rise. In India currently >77 million people living with Diabetes which is estimated to > 134.2 million in 2045 with 74% rise. India is 2nd largest nation in Diabetic population. In India 1 in 2 people with diabetes remain undiagnosed and are at a higher risk of developing harmful and costly complications. 1.2 million deaths per year are attributable to diabetes. 
                                </p> -->
                                <div style="text-align: right;">

                                    <button class="btn btn-info" routerLink="/product-portfolio">Know more about Products</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane container p-0 fade" id="services-2">
                        <div class="row">
                            <div class="col-md-5 img" style="background-image: url(assets/images/dept-2.jpg);"></div>
                            <div class="col-md-7 text pl-md-4">
                                <h3><a>Ophthalmology</a></h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
                                <ul>
                                    <li><span class="fa fa-check"></span>The Big Oxmox advised her not to do so</li>
                                    <li><span class="fa fa-check"></span>Far far away, behind the word mountains</li>
                                    <li><span class="fa fa-check"></span>Separated they live in Bookmarksgrove</li>
                                    <li><span class="fa fa-check"></span>She packed her seven versalia</li>
                                </ul>
                                <div style="text-align: right;">

                                    <button class="btn btn-info" routerLink="/product-portfolio">Know more about Products</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane container p-0 fade" id="services-3">
                        <div class="row">
                            <div class="col-md-5 img" style="background-image: url(assets/images/therapy/nutramain.jpeg);"></div>
                            <div class="col-md-7 text pl-md-4">
                                <h3><a >Nutraceuticals</a></h3>
                                <p>The term “nutraceutical” combines two words – “nutrient” (a nourishing food component) and “pharmaceutical” (a medical drug). The name was coined in 1989 by Stephen DeFelice, founder and chairman of the Foundation for Innovation in Medicine, an American organization located in Cranford, New Jersey.</p>
                                <p>The philosophy behind nutraceuticals is to focus on prevention, according to the saying by a Greek Physician Hippocrates (known as the father of medicine) who said “let food be your medicine”.</p>
                                <p>According to their generally accepted definition, functional food is a category which includes whole foods and fortified, enriched or enhanced dietary components that may reduce the risk of chronic disease and provide a health-benefit beyond the traditional nutrients it contains.</p>
                                <!-- <p>Nutraceuticals may be used to improve health, prevent chronic diseases, postpone the aging process (and in turn increase life expectancy), or just support functions and integrity of the body. They are considered to be healthy sources for prevention of life threatening diseases such as diabetes, renal and gastrointestinal disorders, as well as different infections.</p>
                                <p>A wide range of nutraceuticals have been shown to impose crucial roles in immune status and susceptibility to certain disease states. They also exhibit disease modifying indications related to oxidative stress including allergy, Alzheimer's disease, cardiovascular diseases, cancer, eye conditions, Parkinson's disease and obesity.</p>
                                <p>A wide variety of nutraceuticals have been shown to impose crucial roles in immune status and susceptibility to some disease conditions. Nutraceuticals that belong to the category of immune boosters are useful to improve immune function.</p>
                                <p>Obesity is, nowadays, a global public health problem with about 315 million people involved. Obesity is a risk factor for many disorders such as hypertension, congestive heart failure, angina pectoris, hyperlipidemia, respiratory disorders, osteoarthritis, cancer, renal vein thrombosis and reduced fertility. </p>
                                <p>One of the primary causes of obesity is the increased availability of high-fat, energy-dense foods. There is a very high prevalence of obesity globally and hence nutrition and exercise play a key role in its prevention and treatment. Nutraceutical interventions are currently being investigated on a large-scale basis as potential treatments for obesity and weight management.</p>
                                 -->
                                
                                
                                
                                
                                
                                
                                <!-- <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
                                <ul>
                                    <li><span class="fa fa-check"></span>The Big Oxmox advised her not to do so</li>
                                    <li><span class="fa fa-check"></span>Far far away, behind the word mountains</li>
                                    <li><span class="fa fa-check"></span>Separated they live in Bookmarksgrove</li>
                                    <li><span class="fa fa-check"></span>She packed her seven versalia</li>
                                </ul> -->
                                <div style="text-align: right;">

                                    <button class="btn btn-info" routerLink="/product-portfolio">Know more about Products</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane container p-0 fade" id="services-4">
                        <div class="row">
                            <div class="col-md-5 img" style="background-image: url(assets/images/therapy/Obesitymain.jpg);"></div>
                            <div class="col-md-7 text pl-md-4">
                                <h3><a >Obesity</a></h3>
                                <p class="text-justify">Obesity is a medical condition in which excess body fat gets accumulated to an
                                     extent that it may have a negative effect on health. People are generally
                                      considered obese when their body mass index (BMI), a measurement obtained
                                       by dividing a person's weight by the square of the person's height—despite known
                                        allometric inaccuracies is over 30 kg/m<sup>2</sup>; the range 25–30 kg/m<sup>2</sup> is defined as overweight.
                                </p>
                                <table class="table table-bordered text-center">
                                    <thead class="danger">
                                    <tr >
                                        <th  style="background-color: #D9EDF7;" colspan="2">BMI (kg/m<sup>2</sup>)</th>
                                        <th  style="background-color: #D9EDF7;" rowspan="2">Classification</th>
                                    </tr>
                                    <tr>
                                        <th style="background-color: #DFF0D8;">from</th>
                                        <th style="background-color: #DFF0D8;">up to</th>
                                    </tr>
                                </thead>
                                <tbody>

                                
                                    <tr>
                                        <td></td>
                                        <td>18.5</td>
                                        <td>Under Weight</td>
                                    </tr>
                                    <tr>
                                        <td>18.5</td>
                                        <td>25.0</td>
                                        <td>Normal Weight</td>
                                    </tr>
                                    <tr>
                                        <td>25.0</td>
                                        <td>30.0</td>
                                        <td>Over Weight</td>
                                    </tr>
                                    <tr>
                                        <td>30.0</td>
                                        <td>35.0</td>
                                        <td>Class I Obesity</td>
                                    </tr>
                                    <tr>
                                        <td>35.0</td>
                                        <td>40.0</td>
                                        <td>Class II Obesity</td>
                                    </tr>
                                    <tr>
                                        <td>40.0</td>
                                        <td></td>
                                        <td>Class III Obesity </td>
                                    </tr>
                                </tbody>
                                </table>

                                    <p>Obesity prevention requires a complex approach, including interventions at community, family, and individual levels. 
                                        Changes to diet and exercising are the main treatments recommended by health professionals.</p>
                                <div style="text-align: right;">

                                    <button class="btn btn-info" routerLink="/product-portfolio">Know more about Products</button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="tab-pane container p-0 fade" id="services-5">
                        <div class="row">
                            <div class="col-md-5 img" style="background-image: url(assets/images/therapy/othersmain.jpg);"></div>
                            <div class="col-md-7 text pl-md-4">
                                <h3><a >Others</a></h3>
                                <p>Sometimes it seems like there are more medicines than there are diseases, and it can be hard to keep them straight. Some can be bought over the counter at pharmacies or other stores. Others require a Doctor's prescription. Some are available only in hospitals.</p>
                                <ul>
                                    <li><span class="fa fa-check"></span><strong> Analgesics:</strong> Drugs that relieve pain. There are two main types: non-narcotic analgesics for mild pain, and narcotic analgesics for severe pain.</li>
                                    <li><span class="fa fa-check"></span><strong>Antacids:</strong> Drugs that relieve indigestion and heartburn by neutralizing stomach acid.</li>
                                    <li><span class="fa fa-check"></span><strong>Antianxiety Drugs:</strong> Drugs that suppress anxiety and relax muscles (sometimes called anxiolytics, sedatives, or minor tranquilizers).</li>
                                    <li><span class="fa fa-check"></span><strong>Anticonvulsants:</strong> Drugs that prevent epileptic seizures.</li>
                                    <li><span class="fa fa-check"></span><strong>Antidepressants:</strong> There are three main groups of mood-lifting antidepressants: tricyclics, monoamine oxidase inhibitors, and selective serotonin reuptake inhibitors (SSRIs).</li>
                                    <li><span class="fa fa-check"></span><strong>Antiemetics:</strong> Drugs used to treat nausea and vomiting.</li>

                                </ul>
                                <div style="text-align: right;">

                                    <button class="btn btn-info" routerLink="/product-portfolio">Know more about Products</button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="tab-pane container p-0 fade" id="services-5">
                        <div class="row">
                            <div class="col-md-5 img" style="background-image: url(assets/images/dept-5.jpg);"></div>
                            <div class="col-md-7 text pl-md-4">
                                <h3><a >Surgical</a></h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
                                <ul>
                                    <li><span class="fa fa-check"></span>The Big Oxmox advised her not to do so</li>
                                    <li><span class="fa fa-check"></span>Far far away, behind the word mountains</li>
                                    <li><span class="fa fa-check"></span>Separated they live in Bookmarksgrove</li>
                                    <li><span class="fa fa-check"></span>She packed her seven versalia</li>
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane container p-0 fade" id="services-6">
                        <div class="row">
                            <div class="col-md-5 img" style="background-image: url(assets/images/therapy/dept-6.jpg);"></div>
                            <div class="col-md-7 text pl-md-4">
                                <h3><a >Cardiology</a></h3>
                                <p>Cardiology is the study and treatment of disorders of the heart and the blood vessels. 
                                    A person with heart disease or cardiovascular disease may be referred to a Cardiologist.</p>
                                <p>Cardiology is a branch of internal medicine. A Cardiologist is not the same as a Cardiac surgeon.
                                     A cardiac surgeon opens the chest and performs heart surgery.</p>
                                <p>
                                    A Cardiologist specializes in diagnosing and treating diseases of the cardiovascular system. The Cardiologist will carry out tests, and they 
                                    may perform some procedures, such as heart catheterizations, angioplasty, or inserting a pacemaker.
                                </p>
                                <p>
                                    Heart disease relates specifically to the heart, while cardiovascular disease affects the heart,
                                    the blood vessels, or both.
                                </p>
                                <p>
                                    If a person has symptoms of a heart condition, their Physician may refer them to a Cardiologist.
                                </p>
                                <!-- <p>
                                    Symptoms that can indicate a heart problem include:shortness of breath,
                                     dizziness, chest pains, changes in heart rate or rhythm, high blood pressure.
                                </p> -->
                                <!-- <ul>
                                    <li><span class="fa fa-check"></span>The Big Oxmox advised her not to do so</li>
                                    <li><span class="fa fa-check"></span>Far far away, behind the word mountains</li>
                                    <li><span class="fa fa-check"></span>Separated they live in Bookmarksgrove</li>
                                    <li><span class="fa fa-check"></span>She packed her seven versalia</li>
                                </ul> -->
                                <div style="text-align: right;">

                                    <button class="btn btn-info" routerLink="/product-portfolio">Know more about Products</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane container p-0 fade" id="services-7">
                        <div class="row">
                            <div class="col-md-5 img" style="background-image: url(assets/images/dept-7.jpg);"></div>
                            <div class="col-md-7 text pl-md-4">
                                <h3><a >Dental Clinic</a></h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
                                <ul>
                                    <li><span class="fa fa-check"></span>The Big Oxmox advised her not to do so</li>
                                    <li><span class="fa fa-check"></span>Far far away, behind the word mountains</li>
                                    <li><span class="fa fa-check"></span>Separated they live in Bookmarksgrove</li>
                                    <li><span class="fa fa-check"></span>She packed her seven versalia</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>