<!-- <div style="text-align: center;padding-top: 150px; padding-bottom: 150px;">
    <span style="color: blue; font-size: 30px; ">Will be updated soon...</span>
</div> -->
<!-- bg_1 -->
<section class="hero-wrap hero-wrap-2 heroBreadcrumb" style="background-image: url('assets/images/breadcums/career.jpg'); background-position: 50% -66px;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-end justify-content-start">
        <div class="col-md-9 ftco-animate pb-5 fadeInUp ftco-animated">
         <h1 class="mb-3 bread" style="color: #fff;">Careers</h1>
       </div>
     </div>
   </div>
  </section>

  <section>
    <div class="container pt-4 ">
        <div class="row text-justify">
            <div class="col-md-6 ">
                <h4 class="text-center" style="color: #0A939D; font-weight: bold;"> 

                    Explore Your Career
                </h4>
                <div>
                    At Sinsan Pharma, we merely don’t offer you a job; we offer
                     you a career to accomplish your dreams, scale the ladder of success.
                      If you are brilliant in your domain, brimming with learning attitude,
                       optimism, we surely are waiting to welcome you onboard. We are an equal
                        opportunity employer and believe in providing unique congenial working
                         ecosystem, where help to learn, grow and enjoy.
                </div>
                
            </div>
            <div class="col-md-6">
                <div>
                    <h4 class="text-center" style="color: #0A939D; font-weight: bold;"> 
                        About Our Values
                    </h4>
                    <div>
                        Having core company values can help you ensure each of your employees, from top leadership to entry-level, are working towards the same common goal, and share a bigger purpose.


                    </div>
                </div>
            </div>
            
        </div>
        <div>
            <div style="color: black; font-weight: bold; padding-top: 30px; padding-bottom: 20px;">
                Please send your updated resume to mentioned mail id
                <br>
                <a href="mailto:hr@sinsanpharma.com">hr@sinsanpharma.com</a>
            </div>
           
            <div>
                (or)
            </div>
        </div>
        
        
        <div style="color: black; font-weight: bold; padding-top: 20px; padding-bottom: 20px;">
            Kindly fill in the form, allowing us to evaluate your suitability:

        </div>
        <div class="row">
            
            <div class="col-md-6">
                <div class="form-group">
                    <label for="" style="color: black;">Name: <span style="color: red;">*</span>
                    </label>
                        <input class="form-control" type="text" name="" id="" placeholder="Name">
                    
                </div>
                <div class="form-group">
                    <label for="" style="color: black;">Phone: <span style="color: red;">*</span>
                    </label>
                        <input class="form-control" type="text" name="" id="" placeholder="Phone Number">
                    
                </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">

                <label for="" style="color: black;">E-mail <span style="color: red;">*</span></label>
                <input class="form-control" type="text" name="" id="" placeholder="E-mail">
            </div>
            <div class="form-group">
                <label for="" style="color: black;">Upload Resume: <span style="color: red;">*</span>
                </label>
                    <input class="form-control" type="file" name="" id="" placeholder="Name">
                
            </div>
            
        </div>
    </div>
    </div>
    <div class="container-fluid text-center pb-4">
        <!-- <button type="button" class="btn btn-primary text-center" style="font-size: 18px;">Submit</button> -->
        <input type="submit" value="Submit" style="font-size: 16px;" class="btn btn-secondary py-2 px-4">
    
    </div>
  </section>