.heroBreadcrumb {
    height: 40vh !important;
}
.maila{
    color: white !important;

}

.maila:hover{
    color: purple !important;
    
}
.ftco-section {
    padding: 7em 0;
    position: relative;
}
.bg-light {
    background: #f8f9fa !important;
}

/* .ftco-animate {
    opacity: 0;
    visibility: hidden;
} 

.heading-section h2 {
    line-height: 1.2;
    font-size: 40px;
    font-weight: 700;
}

.staff {
    overflow: hidden;
    margin-bottom: 30px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.align-items-stretch {
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
}



.staff .img {
    height: 200px;
    width: 200px;
    display: block;
    background-position: top center;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: relative;
    border-radius: 50%;
    margin: 0 auto;
    border: 10px solid #f8f9fa;
}
.staff .img:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    content: '';
    opacity: 0;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}



.staff .text h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}



.staff .text .faded {
    opacity: 1;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.staff .ftco-social {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.ftco-social li {
    list-style: none;
    margin-right: 10px;
    display: inline-block;
}
*/

.staff .text .position {
    color: #299adc;
    display: block;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
}

/* .staff .text {
    position: relative;
    background: #fff;
    padding: 110px 30px 30px 30px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: -100px;
    z-index: -1;
} */

/* .staff .text {
    position: relative;
    background: #fff;
    padding: 110px 30px 30px 30px;
    transition: all 0.3s ease;
    margin-top: -100px;
    z-index: -1;
} */


/* .staff:hover {
    overflow: hidden;
    margin-bottom: 30px;
    transition: none !important;
} */

/* .hoverSty .staff:hover{
    color: red !important;
} */