<section class="hero-wrap hero-wrap-2 heroBreadcrumb" style="background-image: url('assets/images/breadcums/about.jpg'); background-position: 50% -66px;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-end justify-content-start">
        <div class="col-md-9 ftco-animate pb-5 fadeInUp ftco-animated">
         <h1 class="mb-3 bread" style="color: #ffffff;">About Us</h1>
       </div>
     </div>
   </div>
  </section>

  <section class="ftco-counter img ftco-section ftco-no-pt ftco-no-pb" id="about-section">
    <div class="container">
     <div class="row d-flex">
      <!-- <div class="col-md-6 col-lg-5 d-flex">
       <div class="img w-100 d-flex align-self-stretch align-items-center" style="background-image:url(assets/images/about.jpg);">
       </div>
     </div> -->
     <div class="col-md-12 col-lg-12 pl-lg-12">
       <div class="">
        <div class="row justify-content-start">
          <div class="col-md-12 heading-section ftco-animate p-4 p-lg-5 fadeInUp ftco-animated text-justify">
            <h2 class="mb-4">We Are <span>Sinsan Pharma,</span> A Healthcare Provider</h2>
            <p>We Sinsan Pharmaceuticals Pvt Ltd welcome you to a better tomorrow. Our endeavor is to evolve with
                 the changing times to provide only the best to our customers. The pharmaceutical industry, over the years,
                  has seen immense growth. However, since our inception in 2007, we have proved time and again, that our
                   products are the best in the market. Sinsan Pharmaceuticals has become one of the leading pharmaceutical
                    companies in India; thanks to the perseverance and diligent efforts of our founders and directors, supported
                     by a family of more than 500 family members.</p>
               <p> With an ever-expanding team of enthusiastic youngsters and a constant thirst of achieving milestones,
                    we are on a mission to become one of the best Indian Pharma companies with a global presence. Within
                     a short span of time, we have expanded our operations PAN India and have an arsenal of more than
                      500 dedicated field force. </p>
                      <ul>
               <li>	We are dedicated to spreading smiles across our customers and making sure they get the best in patient-care.</li>
               <li>	Our commitment to quality is the reason we are trusted by Doctors all across the country.</li>
                <li>	Our network is ever-growing; thanks to the trust that we have built based on our existence so far.</li>
            </ul>
                <p> For many years now, Sinsan Pharmaceuticals Pvt. Ltd. has been making the world a healthier place,
                    with our innovative approach towards modern medicine and an understanding of today’s millennial.
                     With the change in the present lifestyle, health-related problems like diabetes and high blood-pressure
                      are not uncommon. This has persuaded Sinsan Pharma to work towards developing effective, yet low-priced medicines.
                       World-class oral hypoglycemic drugs and anti-hypertensive drugs are part of our endeavor to make global-standard
                        medicines available across the world at local cost.</p>                
            
            <!-- <p><a href="#" class="btn btn-primary py-3 px-4">Make an appointment</a> <a href="#" class="btn btn-secondary py-3 px-4">Contact us</a></p> -->
          </div>
        </div>
      </div>
    </div>
   </div>
   </div>
   </section>

   <section class="ftco-section bg-light">
    <div class="container-fluid px-5">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate fadeInUp ftco-animated">
                <h2 class="mb-4">Our Director</h2>
            </div>
        </div>	
        <div class="row">
            <div class="col-md-12 col-lg-12 ftco-animate fadeInUp ftco-animated">
                <div class="row d-none" >
                    <div class="col-md-3 col-lg-3"></div>
                    <div class="col-md-6 col-lg-6">

                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <div class="img align-self-stretch" style="background-image: url(assets/images/directornew.jpeg);z-index: 99;"></div>
                        
                    </div>
                    <div class="text text-center">
                        <h3 class="mb-2" style="color: #fff !important;">Roshan. C. Jain</h3>
                        
                        <div class="faded">
                            <p style="color: #fff!important;">I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                            <ul class="ftco-social text-center">
                                <li class="ftco-animate fadeInUp ftco-animated"><a class="d-flex align-items-center justify-content-center"><span class="fa fa-envelope"></span></a></li>
                                 </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3"></div>
            </div>
            </div>

<!-- dummy -->

<div class="row">
    <div class="col-md-12 col-lg-12">

<div class="staff">
    <div class="img-wrap d-flex align-items-stretch">
        <div class="img align-self-stretch" style="background-image: url(assets/images/directornew.jpeg);z-index: 99;"></div>
        
    </div>
    <div class="text text-center">
        <h3 class="mb-2" style="color: #fff !important;">Roshan. C. Jain</h3>
        <h6 class="mb-2" style="color: #fff !important;">Director</h6>
        <div class="faded">
            <!-- <p style="color: #fff!important;">I am an ambitious workaholic, but apart from that, pretty simple person.</p> -->
            <!-- <ul class="ftco-social text-center">
                <li class="ftco-animate fadeInUp ftco-animated"><a class="d-flex align-items-center justify-content-center"><span class="fa fa-envelope"></span></a></li>
                </ul> -->
        </div>
        

        <div class="text-justify">
            <!-- <h3 style="font-weight: bold;" class="mb-4">About <span style="color: #000000;">Our</span> Director</h3> -->
            <br>    
            <p>
                    Mr. Jain is the Director of the Company. He represents the 1st generation of the Sinsan’s founding family. 
                    Mr. Jain has completed his Pharmacy education from the University of Pune. Mr. Jain has 
                    been an inspirational leader with good knowledge of Pharma Market.
                </p>      
              <p>
                Mr. Jain has rich experience in all functions of the company including technical areas, 
                quality management, general administration & most notably finance management. His priorities 
                have been defining and executing  Sinsan’s roadmap to maintain growth momentum in Indian Market 
                and consolidating  & strengthening the core focus area; Cardiology & Diabetology Segment.
              </p>
              <p>
                He has a good network with the leaders of different Pharma companies & the Chemist & Druggist 
                Association. His pioneering work and immense contributions to the healthcare is well appreciated. 
                Mr. Jain has frequent presence on National & International academic programs on healthcare.
              </p>

            <p>
                Mail id: <a class="maila" style="color: white;" href="mailto:roshanjain@sinsanpharma.com">roshanjain@sinsanpharma.com</a>
            </p>
        </div>
    </div>
</div>
</div>
</div>

            </div>
            <!-- <div class="col-md-6 col-lg-3 ftco-animate fadeInUp ftco-animated">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <div class="img align-self-stretch" style="background-image: url(assets/images/doc-2.jpg);"></div>
                    </div>
                    <div class="text text-center">
                        <h3 class="mb-2">Dr. Rachel Parker</h3>
                        <div class="faded">
                            <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                            <ul class="ftco-social text-center">
                                <li class="ftco-animate fadeInUp ftco-animated"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
                                <li class="ftco-animate fadeInUp ftco-animated"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
                                <li class="ftco-animate fadeInUp ftco-animated"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
                                <li class="ftco-animate fadeInUp ftco-animated"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate fadeInUp ftco-animated">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <div class="img align-self-stretch" style="background-image: url(assets/images/doc-3.jpg);"></div>
                    </div>
                    <div class="text text-center">
                        <h3 class="mb-2">Dr. Ian Smith</h3>
                        <div class="faded">
                            <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                            <ul class="ftco-social text-center">
                                <li class="ftco-animate fadeInUp ftco-animated"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
                                <li class="ftco-animate fadeInUp ftco-animated"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
                                <li class="ftco-animate fadeInUp ftco-animated"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
                                <li class="ftco-animate fadeInUp ftco-animated"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate fadeInUp ftco-animated">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <div class="img align-self-stretch" style="background-image: url(assets/images/doc-4.jpg);"></div>
                    </div>
                    <div class="text text-center">
                        <h3 class="mb-2">Dr. Alicia Henderson</h3>
                        <div class="faded">
                            <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                            <ul class="ftco-social text-center">
                                <li class="ftco-animate fadeInUp ftco-animated"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
                                <li class="ftco-animate fadeInUp ftco-animated"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
                                <li class="ftco-animate fadeInUp ftco-animated"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
                                <li class="ftco-animate fadeInUp ftco-animated"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>

<section style="background-color: #f8f9fa;" class="d-none">
    <div class="container">

    
    <div class="row d-flex">
        <!-- <div class="col-md-6 col-lg-5 d-flex">
         <div class="img w-100 d-flex align-self-stretch align-items-center" style="background-image:url(assets/images/about.jpg);">
         </div>
       </div> -->
       <div class="col-md-12 col-lg-12 pl-lg-12">
         <div class="">
          <div class="row justify-content-start">
            <div class="col-md-12 heading-section ftco-animate p-4 p-lg-5 fadeInUp ftco-animated text-justify">
              <h3 style="font-weight: bold;" class="mb-4">About <span style="color: #0B939D;">Our</span> Director</h3>
                <p>
                    Mr. Roshan Champalal Jain is the Director of the Company. He represents the 1st generation of the Sinsan’s founding family. 
                    Mr. R C Jain has completed his Pharmacy education from the University of Pune. Mr. R C Jain has 
                    been an inspirational leader with good knowledge of Pharma Market.
                </p>      
              <p>
                Mr. R C Jain has rich experience in all functions of the company including technical areas, 
                quality management, general administration & most notably finance management. His priorities 
                have been defining and executing  Sinsan’s roadmap to maintain growth momentum in Indian Market 
                and consolidating  & strengthening the core focus area; Cardiology & Diabetology Segment.
              </p>
              <p>
                He has a good network with the leaders of different Pharma companies & the Chemist & Druggist 
                Association. His pioneering work and immense contributions to the healthcare is well appreciated. 
                Mr. R C Jain has frequent presence on National & International academic programs on healthcare.
              </p>
            </div>
          </div>
        </div>
      </div>
     </div>
    </div>
</section>