<footer class="ftco-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="ftco-footer-widget"> 
                    <h2 class="ftco-heading-2 logo d-flex align-items-center"><a routerLink="home"><span class=""></span><span>Sinsan Pharma</span></a></h2>
                    <p>We Sinsan Pharmaceuticals Pvt Ltd welcome you to a better tomorrow.  
                         Our endeavor is to evolve with the changing times to provide only the best to our customers ... <a routerLink="aboutus">Read more</a></p>
                    <ul class="ftco-footer-social list-unstyled mt-4">
                        <li><a href="https://www.linkedin.com/company/sinsan-pharmaceuticals-private-limited" target="_blank"><span class="fa fa-linkedin"></span></a></li>
                        <li><a href="https://twitter.com/PharmaSinsan" target="_blank"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="https://www.facebook.com/Sinsanpharmaceutical" target="_blank"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="https://www.instagram.com/sinsanpharma/?hl=en" target="_blank"><span class="fa fa-instagram"></span></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-3">
                <div class="ftco-footer-widget">
                    <h2 class="ftco-heading-2">Therapy Areas</h2>
                    <ul class="list-unstyled">
                        <li><a routerLink="therapy-areas"><span class="fa fa-chevron-right mr-2"></span>Diabetology</a></li>
                        <li><a routerLink="therapy-areas"><span class="fa fa-chevron-right mr-2"></span>Cardiology</a></li>
                        <li><a routerLink="therapy-areas"><span class="fa fa-chevron-right mr-2"></span>Nutraceuticals</a></li>
                        <li><a routerLink="therapy-areas"><span class="fa fa-chevron-right mr-2"></span>Obesity</a></li>

                        <li><a routerLink="therapy-areas"><span class="fa fa-chevron-right mr-2"></span>Others</a></li>
                        <!-- <li><a routerLink="therapy-areas"><span class="fa fa-chevron-right mr-2"></span>Surgical</a></li>
                        <li><a routerLink="therapy-areas"><span class="fa fa-chevron-right mr-2"></span>Cardiology</a></li>
                        <li><a routerLink="therapy-areas"><span class="fa fa-chevron-right mr-2"></span>Dental</a></li> -->
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-2">
                <div class="ftco-footer-widget">
                    <h2 class="ftco-heading-2">Links</h2>
                    <ul class="list-unstyled">
                        <li><a routerLink="home"><span class="fa fa-chevron-right mr-2"></span>Home</a></li>
                        <li><a routerLink="aboutus"><span class="fa fa-chevron-right mr-2"></span>About Us</a></li>
                        <li><a routerLink="therapy-areas"><span class="fa fa-chevron-right mr-2"></span>Therapy Areas</a></li>
                        <li><a routerLink="product-portfolio"><span class="fa fa-chevron-right mr-2"></span>Product Portfolio</a></li>
                        <li><a routerLink="updates"><span class="fa fa-chevron-right mr-2"></span>Updates</a></li>
                        <li><a routerLink="gallery"><span class="fa fa-chevron-right mr-2"></span>Gallery</a></li>
                        <li><a routerLink="careers"><span class="fa fa-chevron-right mr-2"></span>Careers</a></li>
                    </ul>
                </div>
            </div>

            <!-- <div class="col-lg col-md-6">
                <div class="ftco-footer-widget">
                    <h2 class="ftco-heading-2">Services</h2>
                    <ul class="list-unstyled">
                        <li><a><span class="fa fa-chevron-right mr-2"></span>Emergency Help</a></li>
                        <li><a><span class="fa fa-chevron-right mr-2"></span>Qualified Doctors</a></li>
                        <li><a><span class="fa fa-chevron-right mr-2"></span>Location &amp; Directions</a></li>
                        <li><a><span class="fa fa-chevron-right mr-2"></span>Medical Treatment</a></li>
                    </ul>
                </div>
            </div> -->

            <div class="col-lg-4 col-md-4">
                <div class="ftco-footer-widget">
                    <h2 class="ftco-heading-2">Have a Question ?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="fa fa-map-marker mr-3" style="color: #0A939D;"></span><span class="text" style="color: #000;">M/S Sinsan Pharmaceuticals Pvt.Ltd., 501-505, Park Plaza, 5th Floor,
                                opp. Kamala Nehru Park,
                                Ketkar Road, Pune 411004,
                                Maharashtra
                            </span></li>
                            <li><a><span class="fa fa-phone mr-3" style="color: #0A939D;"></span><span class="text" style="color: #000;">020-25665800</span></a></li>
                            <li><a><span class="fa fa-paper-plane mr-3" style="color: #0A939D;"></span>
                                <span class="text" style="color: #000;">
                                    <a href="mailto:sinsanpharma2007@gmail.com">sinsanpharma2007@gmail.com</a> 
                                    </span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="container-fluid bg-primary py-5">
        <div class="row">
            <div class="col-md-12 text-center">
                
                <p class="mb-0"> Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <!-- Copyright ©<script>document.write(new Date().getFullYear());</script>2020 All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> -->
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. 
                 </p> 
                </div>
            </div>
        </div> -->
    </footer>