<section class="hero-wrap hero-wrap-2 heroBreadcrumb"
    style="background-image: url('assets/images/breadcums/milestone.jfif'); background-position: 50% -66px;"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5 fadeInUp ftco-animated">
                <h1 class="mb-3 bread" style="color: #ffffff;">Milestone</h1>
            </div>
        </div>
    </div>
</section>

<section class="timer-section">
    <div class="container">
      <div class="timer-container">
          <div style="padding-top: 20px">
            From inception 2007, Sinsan Pharma has grown to top 50 diabetic  pharmaceutical companies in India. Take a look at the milestones and recognitions in our journey.
          </div>
        <ul class="timer">
          <li class="step">
            <span>2007</span>
            <div class="content">
              
              <p>
                Inception - Sinsan has established in 2007.
             </p>
            </div>
          </li>
        <li class="step">
          <span>2008</span>
          <div class="content">
              <p>
                Operations only in Western part of India.
            </p>
          </div>
        </li>
        <li class="step">
          <span>2009</span>
          <div class="content">
              <p>
                Launched Cardio diabetic Product range- Glimfirst, Telfirst and HOMO 16.
             </p>
          </div>
        </li>
        <li class="step">
          <span>2010</span>
          <div class="content">
              <p>
                We expanded Sales network and started PAN India operations.
            </p>
          </div>
        </li>
        <li class="step">
          <span style="width: 100px">2011-2014</span>
          <div class="content">
              <p>
                Ventured into niche Anti Obesity Segment and Launched Obezita.
             </p>
          </div>
        </li>
        <li class="step">
          <span>2015</span>
          <div class="content">
              <p>
                Presence across all National Academic Conferences.
            </p>
          </div>
        </li>

        <li class="step">
            <span>2016</span>
            <div class="content">
                <p>
                    Launch of Teneligliptin- an advanced diabetes treatment at afforadble price.
              </p>
            </div>
          </li>

          <li class="step">
            <span>2019</span>
            <div class="content">
                <p>
                    HOMO 16 and Glimfirst achieved 10 crores. 
              </p>
            </div>
          </li>

          <li class="step">
            <span>2020</span>
            <div class="content">
                <p>
                    Overall 32% growth and became top 50 diabetic company in India.
              </p>
            </div>
          </li>

          <li class="step">
            <span>2021</span>
            <div class="content">
                <p>
                    Homo 16 completed 10 years and more than 50 lac patients benefitted.
              </p>
            </div>
          </li>

          <li class="step">
            <span>2022</span>
            <div class="content">
                <p>
                    Launched Speciality Product in Gastroenterologist segment. 
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>