<div class="py-1 top d-none">
    <div class="container">
     <div class="row">
      <div class="col-sm text-center text-md-left mb-md-0 mb-2 pr-md-4 d-flex topper align-items-center">
       <p class="mb-0 w-100">
        <span class="fa fa-paper-plane"></span>
        <span class="text">youremail@email.com</span>
      </p>
    </div>
    <div class="col-sm justify-content-center d-flex mb-md-0 mb-2">
      <div class="social-media">
        <p class="mb-0 d-flex">
         <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
         <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
         <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
         <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
       </p>
     </div>
   </div>
   <div class="col-sm-12 col-md-6 col-lg-7 d-flex topper align-items-center text-lg-right justify-content-end">
     <!-- <p class="mb-0 register-link"><a routerLink="home" class="btn btn-primary">Book An Appointment</a></p> -->
   </div>
 </div>
 </div>
 </div>
 <div class="py-3">
  <div class="container">
   <div class="row d-flex align-items-start align-items-center px-3 px-md-0">
    <div class="col-md-4 d-flex mb-2 mb-md-0">
     <a class="navbar-brand d-flex align-items-center" routerLink="home"><span class=""></span>
      <span><img src="../../../assets/images/Sinsan.jpg" class="img-fluid" width="300px" height="auto" alt=""></span></a>
   </div>
   <div class="col-md-4 d-flex topper mb-md-0 mb-2 align-items-center">
     <div class="icon d-flex justify-content-center align-items-center">
      <span class="fa fa-phone"></span>
    </div>
    <div class="pr-md-4 pl-md-3 pl-3 text">
      <p class="con"><span> Call</span> <span> 020-25665800</span></p>
      <!-- <p class="con">Call Us Now 24/7 Customer Support</p> -->
    </div>
  </div>
  <div class="col-md-4 d-flex topper mb-md-0 align-items-center">
   <div class="icon d-flex justify-content-center align-items-center"><span class="fa fa-map-marker"></span>
   </div>
   <div class="text pl-3 pl-md-3">
    <p class="hr"><span>Our Location</span></p>
    <p class="con">501-505, Park Plaza, 5th Floor, 
      opp. Kamala Nehru Park, 
      Ketkar Road, Pune 411004, 
      MH
    </p>
  </div>
 </div>
 </div>
 </div>
 </div>



 

 <nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container d-flex align-items-center">
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fa fa-bars"></span> Menu
  </button>

  

  <!-- <div class="collapse navbar-collapse" id="ftco-nav">
    <ul class="navbar-nav m-auto active"> -->

      <div class="collapse navbar-collapse" id="exCollapsingNavbar2">
        <ul class="nav navbar-nav ml-auto leftNav pt-2">
     <li class="nav-item"><a routerLink="/home" class="nav-link" routerLinkActive="actives">Home</a></li>
     <!-- <li class="nav-item"><a routerLink="/aboutus" class="nav-link" routerLinkActive="actives">About</a></li> -->

     <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="navbarDropdownMenuLink2"
       routerLinkActive="actives">About</a>
          
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
        <a class="dropdown-item" routerLink="/aboutus" >About Us</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" routerLink="/milestone" style="cursor: pointer;">Milestone</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
       id="navbarDropdownMenuLink" routerLinkActive="active">About</a>
          
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" routerLink="/whyustwo" data-toggle="collapse" data-target=".navbar-collapse.show">Why Us</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" routerLink="/aboutus" data-toggle="collapse" data-target=".navbar-collapse.show" style="cursor: pointer;">Our &nbsp;Team</a>
      </div>
    </li>

     <li class="nav-item"><a routerLink="/therapy-areas" class="nav-link" routerLinkActive="actives">Therapy Areas</a></li>
     <li class="nav-item"><a routerLink="/product-portfolio" class="nav-link" routerLinkActive="actives">Product Portfolio</a></li>
     <li class="nav-item"><a routerLink="/updates" class="nav-link" routerLinkActive="actives">Updates</a></li>
     <li class="nav-item"><a routerLink="/gallery" class="nav-link" routerLinkActive="actives">Gallery</a></li>
     <li class="nav-item"><a routerLink="/careers" class="nav-link" routerLinkActive="actives">Careers</a></li>
     <li class="nav-item"><a routerLink="/contactus" class="nav-link" routerLinkActive="actives">Contact</a></li>
   </ul>
 </div>
 </div>
 </nav>