<section class="hero-wrap hero-wrap-2 heroBreadcrumb" style="background-image: url('assets/images/breadcums/updates.jpg'); background-position: 50% -66px;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-end justify-content-start">
        <div class="col-md-9 ftco-animate pb-5 fadeInUp ftco-animated">
         <h1 class="mb-3 bread" style="color: #fff;">Updates</h1>
       </div>
     </div>
   </div>
  </section>


  <section class="ftco-section bg-light">
    <div class="container-fluid px-md-5">
      <div class="row d-flex">

        <div class="col-lg-4 ftco-animate fadeInUp ftco-animated">
          <div class="blog-entry">
            <a  data-toggle="modal" data-target="#updatesModal4" class="block-20" style="background-image: url('assets/images/updates/4.jpg');">
            </a>
            <div class="d-flex">
             <div class="meta pt-3 text-right pr-2">
              <div><a ><span class="fa fa-calendar mr-2"></span>Jan 05, 2021</a></div>
              <!-- <div><a ><span class="fa fa-user mr-2"></span>Admin</a></div> -->
              <!-- <div><a  class="meta-chat"><span class="fa fa-comment mr-2"></span> 3</a></div> -->
            </div>
            <div class="text d-block">
             <h3  class="heading"><a  data-toggle="modal" data-target="#updatesModal4">Need to control blood sugar? There's a drink for that</a></h3>
             <p>Engineered prepared an ingestible molecular traps from Mesoporous silica ...</p>
             <p><a  data-toggle="modal" data-target="#updatesModal4" class="btn btn-secondary btn-outline-secondary py-2 px-3">Read more</a></p>
           </div>
         </div>
        </div>
        </div>
        
        
        <div class="col-lg-4 ftco-animate fadeInUp ftco-animated">
          <div class="blog-entry">
            <a  data-toggle="modal" data-target="#updatesModal5" class="block-20" style="background-image: url('assets/images/updates/5.jpg');">
            </a>
            <div class="d-flex">
             <div class="meta pt-3 text-right pr-2">
              <div><a ><span class="fa fa-calendar mr-2"></span>Jan 05, 2021</a></div>
              <!-- <div><a ><span class="fa fa-user mr-2"></span>Admin</a></div> -->
              <!-- <div><a  class="meta-chat"><span class="fa fa-comment mr-2"></span> 3</a></div> -->
            </div>
            <div class="text d-block">
             <h3  class="heading"><a  data-toggle="modal" data-target="#updatesModal5">Specific gut bacteria may be a associated with pulmonary arterial hypertension</a></h3>
             <p>Researchers have identified a distinct collection of bacteria found in the gut that may ...</p>
             <p><a  data-toggle="modal" data-target="#updatesModal5" class="btn btn-secondary btn-outline-secondary py-2 px-3">Read more</a></p>
           </div>
         </div>
        </div>
        </div>
        
        
        <div class="col-lg-4 ftco-animate fadeInUp ftco-animated">
          <div class="blog-entry">
            <a  data-toggle="modal" data-target="#updatesModal6" class="block-20" style="background-image: url('assets/images/updates/6.jpg');">
            </a>
            <div class="d-flex">
             <div class="meta pt-3 text-right pr-2">
              <div><a ><span class="fa fa-calendar mr-2"></span>Jan 05, 2021</a></div>
              <!-- <div><a ><span class="fa fa-user mr-2"></span>Admin</a></div> -->
              <!-- <div><a  class="meta-chat"><span class="fa fa-comment mr-2"></span> 3</a></div> -->
            </div>
            <div class="text d-block">
             <h3  class="heading"><a  data-toggle="modal" data-target="#updatesModal6">Women's blood vessels age faster than men's</a></h3>
             <p>New research from the Smidt Heart Institute at Cedars-Sinai showed for the first ...</p>
             <p><a  data-toggle="modal" data-target="#updatesModal6" class="btn btn-secondary btn-outline-secondary py-2 px-3">Read more</a></p>
           </div>
         </div>
        </div>
        </div>


        <div class="col-lg-4 ftco-animate fadeInUp ftco-animated">
          <div class="blog-entry">
            <a  data-toggle="modal" data-target="#updatesModal1" class="block-20" style="background-image: url('assets/images/updates/1.jpg');">
            </a>
            <div class="d-flex">
             <div class="meta pt-3 text-right pr-2">
              <div><a ><span class="fa fa-calendar mr-2"></span>Jan 05, 2021</a></div>
              <!-- <div><a ><span class="fa fa-user mr-2"></span>Admin</a></div> -->
              <!-- <div><a  class="meta-chat"><span class="fa fa-comment mr-2"></span> 3</a></div> -->
            </div>
            <div class="text d-block">
             <h3  class="heading"><a  data-toggle="modal" data-target="#updatesModal1">Hookah smoke may be associated with increased risk of blood clots</a></h3>
             <p>For the first time, in a study conducted in mice, researchers found that tobacco smoke from a hookah...</p>
             <p><a  data-toggle="modal" data-target="#updatesModal1" class="btn btn-secondary btn-outline-secondary py-2 px-3">Read more</a></p>
           </div>
         </div>
       </div>
     </div>
  
     <div class="col-lg-4 ftco-animate fadeInUp ftco-animated">
      <div class="blog-entry">
        <a  data-toggle="modal" data-target="#updatesModal2" class="block-20" style="background-image: url('assets/images/updates/2.jpg');">
        </a>
        <div class="d-flex">
         <div class="meta pt-3 text-right pr-2">
          <div><a ><span class="fa fa-calendar mr-2"></span>Jan 05, 2021</a></div>
          <!-- <div><a ><span class="fa fa-user mr-2"></span>Admin</a></div> -->
          <!-- <div><a  class="meta-chat"><span class="fa fa-comment mr-2"></span> 3</a></div> -->
        </div>
        <div class="text d-block">
         <h3  class="heading"><a  data-toggle="modal" data-target="#updatesModal2">Winter baby? Summer baby? How could birth season affect heart health?</a></h3>
         <p>New marathon runners reduced blood pressure, arterial stiffness equivalent to a 4-year...</p>
         <p><a  data-toggle="modal" data-target="#updatesModal2" class="btn btn-secondary btn-outline-secondary py-2 px-3">Read more</a></p>
       </div>
     </div>
   </div>
 </div>

 <div class="col-lg-4 ftco-animate fadeInUp ftco-animated">
  <div class="blog-entry">
    <a  data-toggle="modal" data-target="#updatesModal3" class="block-20" style="background-image: url('assets/images/updates/3.jpg');">
    </a>
    <div class="d-flex">
     <div class="meta pt-3 text-right pr-2">
      <div><a ><span class="fa fa-calendar mr-2"></span>Jan 05, 2021</a></div>
      <!-- <div><a ><span class="fa fa-user mr-2"></span>Admin</a></div> -->
      <!-- <div><a  class="meta-chat"><span class="fa fa-comment mr-2"></span> 3</a></div> -->
    </div>
    <div class="text d-block">
     <h3  class="heading"><a  data-toggle="modal" data-target="#updatesModal3">Neuron found in mice could have implications for effective diet drugs</a></h3>
     <p>Ever eaten something, gotten sick and then didn't want to eat that food again ...</p>
     <p><a  data-toggle="modal" data-target="#updatesModal3" class="btn btn-secondary btn-outline-secondary py-2 px-3">Read more</a></p>
   </div>
 </div>
</div>
</div>


  </div>
  <!-- <div class="row mt-5">
    <div class="col text-center">
      <div class="block-27">
        <ul>
          <li><a >&lt;</a></li>
          <li class="active"><span>1</span></li>
          <li><a >2</a></li>
          <li><a >3</a></li>
          <li><a >4</a></li>
          <li><a >5</a></li>
          <li><a >&gt;</a></li>
        </ul>
      </div>
    </div>
  </div> -->
  </div>
  </section>
<!-- Update 1 Modal starts -->
  <div class="modal fade" id="updatesModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 style="color: #0A939D;">Hookah smoke may be associated with increased risk of blood clots</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> 
        </div>
        <div class="modal-body" class="text-justify p-3" >
          <p>
            For the first time, in a study conducted in mice, researchers found that tobacco smoke from a hookah caused blood to function abnormally and be more likely to clot and quickly form blood clots, which can increase the risk of heart attack or stroke, according to new research published in the American Heart Association's journal Arteriosclerosis, Thrombosis and Vascular Biology (ATVB).
          </p>
          <p>
            Researchers found that tobacco smoke from a hookah caused blood clots to form within an average of about 11 seconds, compared to an average of 5 minutes for clotting without exposure to hookah smoke. Exposure to the hookah smoke also caused other abnormalities related to the way the blood flows.
          </p>
          <p>
            “Hookah smoking, which is becoming more popular in Western countries, is perceived as less harmful than cigarettes, yet hookahs carry a toxic profile that is thought to be comparable or to even exceed that of traditional cigarettes. Some studies have found that the smoke emitted from one  hookah tobacco smoking episode contains significantly more harmful chemicals compared to a single cigarette,’ said Fadi Khasawneh, Ph.D., associate professor and chair of pharmaceutical sciences at The University of Texas at El Paso.Ref: Alia.
          </p>
          <p>
            In this study, researchers exposed mice to hookah smoke from a smoking machine that mimicked real-life smoking habits. The smoking machine  used 12 grams of commercially available, flavored  | tobacco that included tobacco, glycerin, molasses and natural flavor with nicotine and tar. Researchers then compared platelet activity among the exposed vs. the unexposed mice.
          </p>
          <p>
            The study simulated the type of nicotine exposure : that occurs with smoking a hookah, which the researchers verified by measuring the levels of cotinine, the nicotine metabolite.  “Findings provide new evidence that hookah smoking is as unhealthy -- if not more so – than traditional cigarettes,, Khasawneh said. "Smoking a hookah, cigarettes, e-cigarettes or other forms of : tobacco all increase your risk for heart disease and stroke.’ In May 2019, the American Heart Association published a Scientific Statement, "Water Pipe (Hookah) Smoking and Cardiovascular Disease Risk," to analyze available research on the health effects of hookah smoking. The Statement notes that hookah smoking results in inhaling significant levels of toxic chemicals such as carbon monoxide and particulates from tobacco that can harm blood vessels, the heart and lungs, as well as creating a dependence on nicotine.
          </p>
          <p>
            Ref: AHA, <a href="https://www.sciencedaily.com/releases/2020/01/2001160804">https://www.sciencedaily.com/releases/2020/01/2001160804
            </a> 
          </p>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<!-- Update 1 Modal ends -->


<!-- Update 1 Modal starts -->
<div class="modal fade" id="updatesModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 style="color: #0A939D;">Hookah smoke may be associated with increased risk of blood clots</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> 
      </div>
      <div class="modal-body" class="text-justify p-3" >
        <p>
          For the first time, in a study conducted in mice, researchers found that tobacco smoke from a hookah caused blood to function abnormally and be more likely to clot and quickly form blood clots, which can increase the risk of heart attack or stroke, according to new research published in the American Heart Association's journal Arteriosclerosis, Thrombosis and Vascular Biology (ATVB).
        </p>
        <p>
          Researchers found that tobacco smoke from a hookah caused blood clots to form within an average of about 11 seconds, compared to an average of 5 minutes for clotting without exposure to hookah smoke. Exposure to the hookah smoke also caused other abnormalities related to the way the blood flows.
        </p>
        <p>
          “Hookah smoking, which is becoming more popular in Western countries, is perceived as less harmful than cigarettes, yet hookahs carry a toxic profile that is thought to be comparable or to even exceed that of traditional cigarettes. Some studies have found that the smoke emitted from one  hookah tobacco smoking episode contains significantly more harmful chemicals compared to a single cigarette,’ said Fadi Khasawneh, Ph.D., associate professor and chair of pharmaceutical sciences at The University of Texas at El Paso.Ref: Alia.
        </p>
        <p>
          In this study, researchers exposed mice to hookah smoke from a smoking machine that mimicked real-life smoking habits. The smoking machine  used 12 grams of commercially available, flavored  | tobacco that included tobacco, glycerin, molasses and natural flavor with nicotine and tar. Researchers then compared platelet activity among the exposed vs. the unexposed mice.
        </p>
        <p>
          The study simulated the type of nicotine exposure : that occurs with smoking a hookah, which the researchers verified by measuring the levels of cotinine, the nicotine metabolite.  “Findings provide new evidence that hookah smoking is as unhealthy -- if not more so – than traditional cigarettes, Khasawneh said. "Smoking a hookah, cigarettes, e-cigarettes or other forms of : tobacco all increase your risk for heart disease and stroke." In May 2019, the American Heart Association published a Scientific Statement, "Water Pipe (Hookah) Smoking and Cardiovascular Disease Risk," to analyze available research on the health effects of hookah smoking. The Statement notes that hookah smoking results in inhaling significant levels of toxic chemicals such as carbon monoxide and particulates from tobacco that can harm blood vessels, the heart and lungs, as well as creating a dependence on nicotine.
        </p>
        <p>
          Ref: AHA, <a href="https://www.sciencedaily.com/releases/2020/01/2001160804">https://www.sciencedaily.com/releases/2020/01/2001160804
          </a> 
        </p>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Update 1 Modal ends -->


<!-- Update 1 Modal starts -->
<div class="modal fade" id="updatesModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 style="color: #0A939D;">Hookah smoke may be associated with increased risk of blood clots</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> 
      </div>
      <div class="modal-body" class="text-justify p-3" >
        <p>
          For the first time, in a study conducted in mice, researchers found that tobacco smoke from a hookah caused blood to function abnormally and be more likely to clot and quickly form blood clots, which can increase the risk of heart attack or stroke, according to new research published in the American Heart Association's journal Arteriosclerosis, Thrombosis and Vascular Biology (ATVB).
        </p>
        <p>
          Researchers found that tobacco smoke from a hookah caused blood clots to form within an average of about 11 seconds, compared to an average of 5 minutes for clotting without exposure to hookah smoke. Exposure to the hookah smoke also caused other abnormalities related to the way the blood flows.
        </p>
        <p>
          “Hookah smoking, which is becoming more popular in Western countries, is perceived as less harmful than cigarettes, yet hookahs carry a toxic profile that is thought to be comparable or to even exceed that of traditional cigarettes. Some studies have found that the smoke emitted from one  hookah tobacco smoking episode contains significantly more harmful chemicals compared to a single cigarette,’ said Fadi Khasawneh, Ph.D., associate professor and chair of pharmaceutical sciences at The University of Texas at El Paso.Ref: Alia.
        </p>
        <p>
          In this study, researchers exposed mice to hookah smoke from a smoking machine that mimicked real-life smoking habits. The smoking machine  used 12 grams of commercially available, flavored  | tobacco that included tobacco, glycerin, molasses and natural flavor with nicotine and tar. Researchers then compared platelet activity among the exposed vs. the unexposed mice.
        </p>
        <p>
          The study simulated the type of nicotine exposure : that occurs with smoking a hookah, which the researchers verified by measuring the levels of cotinine, the nicotine metabolite.  “Findings provide new evidence that hookah smoking is as unhealthy -- if not more so – than traditional cigarettes,, Khasawneh said. "Smoking a hookah, cigarettes, e-cigarettes or other forms of : tobacco all increase your risk for heart disease and stroke.’ In May 2019, the American Heart Association published a Scientific Statement, "Water Pipe (Hookah) Smoking and Cardiovascular Disease Risk," to analyze available research on the health effects of hookah smoking. The Statement notes that hookah smoking results in inhaling significant levels of toxic chemicals such as carbon monoxide and particulates from tobacco that can harm blood vessels, the heart and lungs, as well as creating a dependence on nicotine.
        </p>
        <p>
          Ref: AHA, <a href="https://www.sciencedaily.com/releases/2020/01/2001160804">https://www.sciencedaily.com/releases/2020/01/2001160804
          </a> 
        </p>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Update 1 Modal ends -->

<!-- Update 2 Modal starts -->
<div class="modal fade" id="updatesModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 style="color: #0A939D;">Winter baby? Summer baby? How could birth season affect heart health?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> 
      </div>
      <div class="modal-body" class="text-justify p-3" >
        <p>
          New marathon runners reduced blood pressure, arterial stiffness equivalent to a 4-year reduction in vascular age The new year means it's time to set resolutions for 2020 and new research from the Journal of the American College of Cardiology suggests running a marathon for the first time could have several health benefits.  
        </p>
        <p>
          The study found that for first-time marathon runners, training and completion of the marathon was associated with reductions in blood pressure and aortic stiffening in healthy participants that were equivalent to a four-year reduction in vascular age, with the greatest benefits seen in older, slower male marathon runners with higher baseline blood pressure.
        </p>
        <p>
          Arterial stiffening is a normal part of aging, but it also increases cardiovascular risk in otherwise healthy individuals by contributing to increased pulse pressure and ventricular overload, which are associated with dementia and cardiovascular and kidney diseases, even in the absence of plaque in the arteries. While blood pressure medication can modify arterial stiffness in established heart disease, more cardiovascular events occur in individuals without diagnosed with high blood pressure.
        </p>
        <p>
          Regular aerobic exercise is a lifestyle modification that has real-world implications, particularly with the growth Mass participation running as an increasingly popular  form of non-prescribed exercise. The researchers used a cohort of 138 healthy, first-time marathon runners from the 2016 and 2017 London Marathon. They examined the participants before training and after marathon completion to determine if age-related aortic stiffening would be reversible with real-world exercise training. Participants had no significant past medical or cardiac history and were not running for more than two hours per week at baseline. On average, participants were 37 years old and 49% were male. Exclusion criteria included pre-existing heart disease during the preliminary investigations or contraindication on a cardiovascular magnetic resonance imaging scan. 
        </p>
        <p>
          The researchers conducted all measurements before training started six months prior to the marathon and repeated them all within three weeks of completing the London Marathon, but no earlier than one week after the marathon to avoid any acute effects of exercise. Assessments included blood pressure measurements and measurements of aortic stiffness by cardiovascular magnetic resonance imaging. Biological aortic age was determined from the relationship between the participant's age and aortic stiffness at three levels of the aorta.
        </p>
        <p>
          Training decreased systolic and diastolic blood pressure by 4 and 3 mmHg, respectively. Overall, aortic stiffness reduced with training and was most pronounced in the distal aorta with increases in distensibility -- the capacity to swell with pressure -- of 9%. This amounted to the equivalent of an almost four-year reduction in ‘aortic age. Older patients had greater changes with exercise training, with males and those running slower marathon times deriving the greatest benefit.        
        </p>
        <P>
          “Our study shows it is possible to reverse the consequences of aging on our blood vessels with real-world exercise in just six months. These benefits were observed in overall healthy individuals across a broad age range and their marathon times are suggestive of achievable exercise training in novice participants," Manisty said.
        </P>
        
        <p>
          Although the study only recruited healthy participants, those with hypertension and stiffer arteries might be expected to have an even greater cardiovascular response to exercise training.
        </p>
        <p>
          Ref: <a href="https://www.sciencedaily.com/releases/2020/01/2 00107081241.htm">https://www.sciencedaily.com/releases/2020/01/2 00107081241.htm</a>  
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Update 2 Modal ends -->

<!-- Update 2 Modal starts -->
<div class="modal fade" id="updatesModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 style="color: #0A939D;">Neuron found in mice could have implications for effective diet drugs</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> 
      </div>
      <div class="modal-body" class="text-justify p-3" >
        <p>
          Ever eaten something, gotten sick and then didn't want to eat that food again because of how it made you feel? That's because a signal from the gut to the brain roduced that sickness, creating a taste aversion. Conventional wisdom renders there's one circuit in the brain that suppresses eating -- it comes from the stomach and makes you feel sick if you activate it too hard. Eating a portioned meal makes your body happy, though, even while stimulating a signal to the brain to stop eating, according to Michigan Diabetes Research Center's director, Martin Myers Jr., M.D. Ph.D.  
        </p>
        <p>
          “Therefore, there must be a circuit that stops normal feeding without the adverse effects, right?" says Myers. The gut-brain signal that suppresses appetite is triggered by a type of neuron, containing calcitonin receptor (CALCR), which lives in a structure of the hindbrain called the medulla. Interestingly enough, these neurons didn't need to be active in the brain for gut sickness to cause an aversive response. Singling out the responsible neuron.
        </p>
        <p>
          Since there are neurons that can suppress eating but also cause aversive effects, that must mean there are different types of neurons, or circuits, in the brain that can terminate feeding with differing emotional responses.
        </p>
        <p>
          When the researchers inactivated the CALCR neurons, they were surprised to make another discovery, which contradicted the idea that the brain only controls short term meal sizes and consumption.
        </p>
        <p>
          Turning these neurons "off" didn't only interfere with the suppression of feeding by gut signals, but it also caused an ongoing increase in food intake. The mice became obese, suggesting that the brainstem systems don't only control meal size, but the amount of food consumed longterm. This created a predisposition to obesity because of the energy imbalance in the mice (more input than output). Similarly, activating CALCR neurons decreased the mice's food intake and body weight without any aversive gut effects. In the study, Myers and his team found another neuron, CCK, also decreased food intake and body weight but created an aversive internal response, unlike the CALCR neurons. The difference between the two neurons were found in their circuits.
        </p>
        <p>
          "CCK activates what we would call a ‘yucky circuit’, “The neurons activate a certain cell, CGRP cells, which create that sick feeling.’ Unlike CCK, activated CALCR neurons follow a yummy circuit,’ activating non-CGRP cells. Potential implications in humans
        </p>
        <p>
          Unfortunately, many diet drugs work, but they make people feel nauseous after they take them. Obesity remains a condition difficult to pharmaceutically manage, since the treatment options have limited therapeutic utility. A drug that turns "on" CALCR and turns off "CGRP" could greatly benefit patients with obesity by suppressing feeding and creating a long term control of food intake and body weight.
        </p>
        <p>
          Journal Reference: Myers et al. Calcitonin Receptor Neurons in the Mouse Nucleus Tractus Solitarius Control Energy Balance via the Non-aversive Suppression of Feeding. Cell Metabolism, 2020; DOI: 10.1016 /jcmet201912012
        </p>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Update 2 Modal ends -->


<!-- Update 2 Modal starts -->
<div class="modal fade" id="updatesModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 style="color: #0A939D;">Need to control blood sugar? There's a drink for that</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> 
      </div>
      <div class="modal-body" class="text-justify p-3" >
        <p>
          Engineered prepared an ingestible molecular traps from Mesoporous silica particles (MSPs) introduced to the gut can have an effect on food efficiency and metabolic risk factors. The results from studies on mice, published in Nanomedicine, demonstrate the potential to reduce the energy uptake into the body and could lead to new treatments for obesity and diabetes.  
        </p>
        <p>
          So far there are no effective treatments for obesity that hinder weight gain or promote weight loss without problematic side effects. Many of the current medications use small pharmacological agents that can affect the body negatively in multiple ways.
        </p>
        <p>
          The team hypothesised that the particles could be used as "molecular sieves" in the intestine to trap and block digestive enzymes that break down food and thus reduce the energy uptake into the body (measured as food efficiency).
        </p>
        <p>
          In the study reported in Nanomedicine, mice were fed high fat, high calorific diets, to induce weight gain, mixed with specially engineered MSPs. The results showed that MSPs reduced food efficiency by 33 percent leading to a lower weight gain, and a positive effect on the metabolic profile, as well as significant lower levels of adipose tissue formation and leptin, together with lower levels of circulating insulin.
        </p>
        <p>
          “The data presented in this study suggest that tailored MSPs could be used to treat obesity and diabetes in humans, especially when taking into account their excellent safety profiles. Since we completed this work, clinical trials have been devised and are now underway, says professor Tor Bengtsson.
        </p>
        <p>
          Journal Reference:
        
        </p>
        <p>
          Tore Bengtsson et al, Mesoporous silica with precisely controlled pores reduces food efficiency and suppresses weight gain in mice. Nanomedicine, 2020; DOI: 10.2217/nnm-2019-0262
        </p>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Update 2 Modal ends -->


<!-- Update 2 Modal starts -->
<div class="modal fade" id="updatesModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 style="color: #0A939D;">Specific gut bacteria may be a associated with pulmonary arterial hypertension</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> 
      </div>
      <div class="modal-body" class="text-justify p-3" >
        <p>
          Researchers have identified a distinct collection of bacteria found in the gut that may contribute to and predict the development of pulmonary arterial hypertension (PAH), according to new research published in the American Heart Association's journal Hypertension.  
        </p>
        <p>
          PAH is a chronic and progressive disease in which the arteries that supply blood to the lungs are constricted, resulting in symptoms such as shortness of breath, heart palpitations, fatigue and others. In PAH, persistently high blood pressure in lung arteries makes the right side of the heart work too hard to pump blood, resulting in right-sided heart failure (inability of the heart to pump blood adequately). It is much less common than systemic blood pressure, which represents the force of blood moving through blood vessels throughout the entire body.
        </p>
        <p>
          Everyone has a collection of bacteria in their gut Known as microbiota that aid in digestion. The researchers found that having a specific microbiota profile in their gut predicted the presence of PAH with 83% accuracy.
        </p>
        <p>
          “We showed for the first time that specific bacteria in the gut are present in people with PAH. While current PAH treatments focus on the lungs, looking at the lung/gut axis could open the door to new therapies centered in the digestive system, said Mohan Raizada, Ph.D., lead study author and distinguished professor in the department of physiology and functional genomics at the University of Florida College of Medicine in Gainesville, Fla.
        </p>
        <p>
          For the study, stool samples were collected from 18 PAH patients and 12 people without a history of cardiopulmonary disease. The microbiota DNA from the stool samples were isolated and sequenced. The testing revealed a group of bacteria unique in the PAH patients that were associated with PAH.
        </p>
        <p>
          This is the first link between a specific collection of bacteria and pulmonary arterial hypertension. However, it is not the first time that gut bacteria have been connected to medical conditions. A variety of different gut microbiota profiles have been linked to a variety of cardiovascular diseases including high blood pressure.
        
        </p>
        <p>
          Gut microbiota are constantly changing, depending on what we eat, our environment and especially our genetic makeup. However, Raizada said the bacteria associated with PAH are unique and do not seem to change: "We believe these particular bacteria are constant.”
        </p>
        <p>
          Another important question to be researched is how the gut bacteria impacts the lungs of PAH patients. "We do not know if and how gut bacteria and viruses make their way to the lungs," said Raizada. “Some studies have pointed to an increased incidence in intestinal leakage among people with pulmonary hypertension, which may allow some intestinal bacteria to get into the  bloodstream and circulate to the lungs where they can cause inflammation and lead to vascular changes.”
        </p>
        <p>
          “There is still the question of whether the specific microbiota associated with PAH is the cause or the result of the disease, therefore, more research is needed,’ concluded Raizada.
        </p>
        <p>
          Reference: Kim S. etal, Altered Gut Microbiome Profile in Patients With Pulmonary Arterial Hypertension. Hypertension, 2020 DOI: 10.1161/HYPERTENSIONAHA.119.14294
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Update 2 Modal ends -->


<!-- Update 2 Modal starts -->
<div class="modal fade" id="updatesModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 style="color: #0A939D;">Women's blood vessels age faster than men's</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> 
      </div>
      <div class="modal-body" class="text-justify p-3" >
        <p>
          New research from the Smidt Heart Institute at Cedars-Sinai showed for the first time that women's blood vessels including both large and small arteries age at a faster rate than men's. The findings, published in the journal JAMA Cardiology, could help to explain why women tend to develop different types of cardiovascular disease and with different timing than men  
        </p>
        <p>
          Many of us in medicine have long believed that women simply ‘catch up’ to men in terms of their cardiovascular risk, said Susan Cheng, MD, MPH, MMSc, senior author of the study and director of Public Health Research at the Smidt Heart Institute. "Our research not only confirms that women have different biology and physiology than their male counterparts, but also illustrates why it is that women may be more susceptible to developing certain types of cardiovascular disease and at different points in life.”
        </p>
        <p>
          Using community-based data amassed from multiple sites across the country, Cheng and her research team conducted sex-specific analyses of measured blood pressure a critical indicator of cardiovascular risk. The data represented nearly 145,000 blood pressure measurements, collected serially over a 43-year period, from 32,833 study participants ranging in age from 5 to 98 years old.
        </p>
        <p>
          Because a person's risk for developing a heart attack, heart failure, or a stroke typically begins with having high blood pressure, Cedars-Sinai researchers combed through their massive data looking for clues and patterns regarding how blood pressure starts to rise. Then, instead of comparing the data from men and women to each other, investigators compared women to women and mento men.
        </p>
        <p>
          This approach allowed investigators to identify that the progression and evolution of women's vascular function is very different than for men. In fact, women showed signs of blood pressure elevation much earlier in life than men.
        </p>
        <p>
          “Our data showed that rates of accelerating blood pressure elevation were significantly higher in women than  men, starting earlier in life," said Cheng, the Erika J. Glazer  Chair in Women's Cardiovascular Health, who also serves as director of Cardiovascular Population Sciences at the Barbra Streisand Women's Heart Center. "This means that if  we define the hypertension threshold the exact same way, a 30-year old woman with high blood pressure is probably at higher risk for cardiovascular disease than a man with high blood pressure at the same age.”
        
        </p>
        <p>
          Christine Albert, MD, MPH, founding chair of the  newly established Department of Cardiology
           at the Smidt Heart Institute, says this new research should help guide Clinicians and researchers
            to think differently when it comes to treating and studying women and their cardiovascular health. "Our women's heart health experts have a long | history of advocating for adequate inclusion of women in research and the need to both recognize and study sex
           differences in cardiovascular physiology and disease," said Albert. "This study is yet another reminder to physicians that many aspects of our cardiovascular evaluation and therapy need to be tailored specifically for women. Results . from studies performed in men may not be directly extrapolated to women."
        </p>
        <p>
          Reference: Cedars-Sinai Medical Center. "Women's blood vessels age faster than men's." ScienceDaily, 15 January 2020.
        </p>
        <!-- <li><span class="fa fa-check"></span><strong> Analgesics:</strong> Drugs that relieve pain. There are two main types: non-narcotic analgesics for mild pain, and narcotic analgesics for severe pain.</li>

        <li><span class="fa fa-check"></span><strong> Analgesics:</strong> Drugs that relieve pain. There are two main types: non-narcotic analgesics for mild pain, and narcotic analgesics for severe pain.</li>

        <li><span class="fa fa-check"></span><strong> Analgesics:</strong> Drugs that relieve pain. There are two main types: non-narcotic analgesics for mild pain, and narcotic analgesics for severe pain.</li>

        <li><span class="fa fa-check"></span><strong> Analgesics:</strong> Drugs that relieve pain. There are two main types: non-narcotic analgesics for mild pain, and narcotic analgesics for severe pain.</li> -->

        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Update 2 Modal ends -->